<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css">

    <title>About</title>
</head>

<body>

    <nav>
        <img src="/images/logolula.png" alt="">
    </nav>

    <div class="menu">
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/works">WORKS</a>
        <a href="/gallery">GALLERY</a>
    </div>

    <h1 class="about__nome">Luiz Inácio Lula da Silva</h1>
    <p class="about__p"> Nascido Luiz Inácio da Silva em Garanhuns, no dia 27 de outubro de 1945. O presidente mais
        pupolar do Brasil,
        mais conhecido como
        Lula, é um ex-sindicalista, ex-metalúrgico e político brasileiro.
        Filiado ao Partido dos Trabalhadores (PT), foi o
        35.º presidente do Brasil entre 1.º de janeiro de 2003 e 1.º de janeiro de 2011.</p>

    <p class="about__p">De origem humilde, migrou ainda criança de Pernambuco para São Paulo com sua família. Foi
        metalúrgico e
        sindicalista, época em que recebeu a alcunha "Lula", forma hipocorística de "Luís". Durante a ditadura militar,
        liderou grandes greves de operários no ABC Paulista e ajudou a fundar o PT em 1980, durante o processo de
        abertura política. Lula foi uma das principais lideranças do movimento Diretas Já, no período da
        redemocratização, quando iniciou sua carreira política. Elegeu-se em 1986 deputado federal pelo estado de São
        Paulo com votação recorde. Em 1989 concorreu pela primeira vez à presidência da República, perdendo no segundo
        turno para Fernando Collor de Mello. Foi candidato a presidente por outras duas vezes, em 1994 e em 1998,
        perdendo ambas as eleições no primeiro turno para Fernando Henrique Cardoso. Venceu a eleição presidencial de
        2002, derrotando José Serra no segundo turno. Na eleição de 2006, foi reeleito ao superar Geraldo Alckmin no
        segundo turno.</p>
</body>

</html>