<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Luiz Inácio Lula da Silva</title>
</head>

<body>

    <nav>
        <img src="/images/logolula.png" alt="">
    </nav>

    <div class="menu">
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/works">WORKS</a>
        <a href="/gallery">GALLERY</a>
    </div>

    <section>
        <div>
            <img src="/images/lula.jpg" alt="" class="home__lula">
        </div>

        <div class="faixa">
            <img src="/images/tarja.png" alt="">
        </div>

        <div id="promessas">
            <ul class="star">
                <li> <img src="/images/star.png" alt="" class="star_li"> TRAZEMOS SEU EX DE VOLTA!</li>
                <li> <img src="/images/star.png" alt="" class="star_li"> VOCÊ FICARÁ DO LADO CERTO DA HISTÓRIA</li>
                <li> <img src="/images/star.png" alt="" class="star_li"> O BRASILEIRO VAI VOLTAR A COMER PICANHA NO
                    CHURRASCO</li>
                <li> <img src="/images/star.png" alt="" class="star_li"> BOLSONARO VAI VOLTAR PRO ESGOTO</li>
            </ul>
        </div>
    </section>

    <footer></footer>


</body>

</html>